body {
    background-color: #fff;
    font-family: 'Roboto';
    color: #212121;
    font-weight: 400;
}
h1, h2, h3, ul, p, ul {
        margin: 0px;
        padding: 0px;
}
ul {
    list-style: none;
}
.text-decor {
    text-decoration: none;
}
/* Header */
.header {
    background: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
    height: 80px;
}
.auth-div {
        display: flex;
        align-items: center;
}
.auth-nav {
        display: flex;
        align-items: center;
}
.webstudio {
        font-family:'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #212121;
        display: block;
}
.web {
    color:#2196F3;
}
.site-nav {
        display: flex;
        margin-right: 50px;
}
 .site-nav li:not(:last-child) {
        margin-right: 50px;
 }
 .site-ul {
        display: flex;
        margin-left: 93px;
 }
 .site-ul-li {
        display: flex;
        margin-left: 331px;

 }
.site-ul li:not(:last-child) {
        margin-right: 50px;
}
.site-ul-li li:not(:last-child) {
        margin-right: 50px;
}

.link-li{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
}
.link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
}

.link-li:hover, .link-li:focus {
    color: #2196F3;
}

.link:hover {
    color: #2196F3;
}

.container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
}
.section {
        margin-top: 94px;
        margin-bottom: 94px;
}
/* Main */
.hero {
        background: #2F303A;
        text-align: center;
        background-color: #2F303A;

}
.decision {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #FFFFFF; 
            margin-top: 0;
            margin-bottom: 30px;
}

.btn {
        display: inline-block;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
            text-align: center;
            letter-spacing: 0.06em;
            color: #FFFFFF;
            background-color: #2196F3;
            border: none;
            cursor: pointer;
            min-width: 200px;
            height: 50px;
            padding: 10px 32px;
}
.btn:hover, .btn:focus {
    color: #2196F3;
}

.menu {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
.submenu {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
}
.work {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 50px;
}
.team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 50px;
} 
 
.member {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.kind {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}

/* Footer */
.webstudio-footer {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #FFFFFF;
}
.address {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.email {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.email:hover, .email:focus {
    color: #2196F3;
}
footer {
    background-color: #2F303A;
    padding: auto 200px;
}

/* Portfolio */
.btn-li {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;
        border: none;
        cursor: pointer;

}
.btn-li:hover, .btn-li:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}
.title {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: #212121;
}
.title-p {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: #757575;
}
.projects {
        display: none;
}
.images {
        margin-top: 50px;

}