body {
    background-color: #FFFFFF;
    font-family: 'Roboto';
    color: #212121;
    font-weight: 400;
}
h1, h2, h3, ul, p {
        margin: 0;
        padding: 0;
}
ul {
    list-style: none;
}
.text-decor {
    text-decoration: none;
}
/* Header */
.header {
    background: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}
.auth-div {
        display: flex;
        align-items: center;
}
.auth-nav {
        display: flex;
        align-items: center;

}
.webstudio {
        font-family:'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #212121;
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
}
.web {
    color:#2196F3;
}
.site-nav {
        display: flex;
        margin-right: 50px;
}
 .site-nav li:not(:last-child) {
        margin-right: 50px;
 }
 .site-ul {
        display: flex;
        margin-left: 93px;
 }
 .site-ul-li {
        display: flex;
        margin-left: auto;
 }
.site-ul li:not(:last-child) {
        margin-right: 50px;
}
.site-ul-li li:not(:last-child) {
        margin-right: 50px;
}

.link-li{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #212121;
        padding-top: 32px;
        padding-bottom: 32px;
}
.link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        padding-top: 32px;
        padding-bottom: 32px;
}

.link-li:hover, .link-li:focus {
    color: #2196F3;
}

.link:hover {
    color: #2196F3;
}
/* Main */
.container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
}

.section {
        padding-top: 94px;
        padding-bottom: 94px;
}
  /* < !-- Рішення --> */
.hero {
        text-align: center;
        background-color: #2F303A;
        padding-top: 200px;
        padding-bottom: 200px;

}
.decision {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: #FFFFFF; 
            margin-top: 0;
            margin-bottom: 30px;
}

.btn {
        display: inline-block;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
            text-align: center;
            letter-spacing: 0.06em;
            color: #FFFFFF;
            background-color: #2196F3;
            border: none;
            cursor: pointer;
            min-width: 200px;
            height: 50px;
            padding: 10px 32px;
}
.btn:hover, .btn:focus {
    color: #2196F3;
}
/* < !-- Увага,
пунктуальність,
планування та сучасні технології --> */
.section-tehnologi {
        padding-bottom: 0;
}
.job {
        display: flex;
}
.job li:not(:last-child) {
        margin-right: 30px;
}
.job-li {
        width: 270px;
}

.menu {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
        margin-bottom: 10px;
}
.submenu {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
}
  /* < !-- Чим ми займаємось --> */
.work {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 50px;
}
.work-ul {
        display: flex;
}
.work-ul li:not(:last-child) {
        margin-right: 30px;
}
 /* < !-- Команда --> */
.team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 50px;
} 
 .team-ul {
        display: flex;
 }
 .team-ul li:not(:last-child) {
        margin-right: 30px;
 }
.member {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.kind {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
        margin-top: 10px;
}
.div-p {
        padding-bottom: 30px;
        padding-top: 30px;
}
/* Footer */
.webstudio-footer {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #FFFFFF;
        margin-top: 0px;
        display: inline-block;
}
.address {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin-top: 20px;
}

.email {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.email:hover, .email:focus {
    color: #2196F3;
}
.email-link li {
        margin-top: 9px;
}
footer {
    background-color: #2F303A;
margin-top: 0;
        margin-bottom: 0;
        padding-top: 60px;
        padding-bottom: 60px;
}
.div-contacts {
        margin-top: 20px;
}
/* Portfolio */
.btn-li {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;
        border: none;
        cursor: pointer;
        padding: 6px 22px;

}
.btn-ul li:not(:last-child) {
        margin-right: 8px;
}
.btn-li:hover, .btn-li:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}
.btn-ul {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
}
.title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: #212121;
}
.title-p {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: #757575;
        margin-top: 4px;
}
.div-title {
        border-right: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        padding: 20px 24px;
}
.projects {
        display: none;
}
.images {

        display: flex;
        flex-wrap: wrap;
}
.images-link {
        margin-right: 30px;
        margin-bottom: 30px;
}
.images-link:nth-child(3n) {
        margin-right: 0;
}
.images-link:nth-child(n+6) {
        margin-bottom: 0;
}
.img-item {
        display: block;
}